body {
  background-image: url(/client/assets/25235.jpg);
  background-size: cover;
  font-family: monospace;
  padding: 1rem;
}

/* Logo */
.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  /* set the height of the logo */
  margin: 10px;
  padding: 0px 10px;
  /* add some margin around the logo */

}

section {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70%;
  min-height: 50%;
  transform: translate(-50%, -50%);

  padding: 1rem;



  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  flex-grow: 1;
  padding: 1rem;
}

section>h1,
section>button {
  flex-shrink: 0;
  height: 3rem;
}

h1 {
  font-size: 3rem;
}

h3,
em {
  font-size: 1.5rem;
}

button {
  font-size: 2rem;
  font-family: monospace;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.btn-all {
  background-color: #60a9e4;
  color: #ffffff
}